In [4]:
# Importing the liraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
dataset = pd.read_csv('Loan_train.csv')

In [19]:
dataset.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,146.0,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [82]:
# features = dataset.iloc[:, [5,6,7,9,10]]

In [7]:
loan_id = dataset['Loan_ID']

In [8]:
dataset = dataset.drop('Loan_ID', axis = 1)

In [241]:
X = dataset.iloc[:, :-1].values # Matrix of features
y = dataset.iloc[:, -1].values # Dependent variable

In [23]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null int64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null int64
Loan_Status          614 non-null int64
dtypes: float64(4), int64(8)
memory usage: 57.6 KB

In [11]:
# Filling in Missing values

dataset['Gender'].fillna('Male', inplace = True)

dataset['Married'].fillna('Yes', inplace = True)

dataset['Dependents'].fillna(0, inplace = True)

dataset['Self_Employed'].fillna('No', inplace = True)

dataset['LoanAmount'].fillna(146.0, inplace = True)

dataset['Loan_Amount_Term'].fillna(360.0, inplace = True)

dataset['Credit_History'].fillna(1.0, inplace = True)

In [17]:
# Encoding the categorical variables
from sklearn.preprocessing import LabelEncoder
# obj_cols = [x for x in dataset.columns if dataset[x].dtype == 'object']
obj_cols = ['Gender','Married','Education', 'Self_Employed', 'Property_Area', 'Loan_Status']
for i in obj_cols:
    encoder = LabelEncoder()
    encoder.fit(dataset[i])
    dataset[i] = encoder.transform(dataset[i])

In [13]:
# Encoding the dependents column
dataset['Dependents'].replace('0', 0, inplace = True)
dataset['Dependents'].replace('1', 1, inplace = True)
dataset['Dependents'].replace('2', 2, inplace = True)
dataset['Dependents'].replace('3+', 3, inplace = True)

In [242]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [237]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [243]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None)

In [244]:
y_pred = classifier.predict(X_test)

In [245]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[15, 18],
       [ 3, 87]], dtype=int64)

In [31]:
dataset_test = pd.read_csv('Loan_test.csv')

In [60]:
dataset_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,1,1,2,0,0,2340,2546,100.0,360.0,1.0,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2

In [34]:
# Filling in missing values in the test set

dataset_test['Gender'].fillna('Male', inplace = True)

dataset_test['Dependents'].fillna(0, inplace = True)

dataset_test['Self_Employed'].fillna('No', inplace = True)

dataset_test['LoanAmount'].fillna(136.0, inplace = True)

dataset_test['Loan_Amount_Term'].fillna(360.0, inplace = True)

dataset_test['Credit_History'].fillna(1.0, inplace = True)

In [35]:
dataset_test['Dependents'].replace('0', 0, inplace = True)
dataset_test['Dependents'].replace('1', 1, inplace = True)
dataset_test['Dependents'].replace('2', 2, inplace = True)
dataset_test['Dependents'].replace('3+', 3, inplace = True)

In [36]:
# Encoding the categorical variables of the test set
from sklearn.preprocessing import LabelEncoder
# obj_cols = [x for x in dataset.columns if dataset[x].dtype == 'object']
obj_cols = ['Gender','Married','Education', 'Self_Employed', 'Property_Area']
for i in obj_cols:
    encoder = LabelEncoder()
    encoder.fit(dataset_test[i])
    dataset_test[i] = encoder.transform(dataset_test[i])

In [37]:
Loan_id = dataset_test['Loan_ID']

In [38]:
dataset_test = dataset_test.drop('Loan_ID', axis = 1)

In [109]:
sc_test = StandardScaler()
test = sc_test.fit_transform(test)

In [249]:
predictions = classifier.predict(test)

In [250]:
pd.DataFrame({'Loan_ID': Loan_id,
'Loan_Status': predictions.astype(np.int64, copy=False)}
).to_csv("submission_NB.csv", index=False)

In [248]:
test = dataset_test